// garient Setting
@mixin gradient-x($start-color: $primary, $end-color: $secondary){
    background-image: linear-gradient(to right, $start-color, $end-color);
}
@mixin gradient-y($start-color: $primary, $end-color: $secondary){
    background-image: linear-gradient(to button, $start-color, $end-color);
}

.bg-primary-gradient-x{
    @include gradient-x($primary-200, $primary-600);
}
.bg-primary-gradient-y{
    @include gradient-y($primary-200, $primary-600);
}
.bg-primary-gradient{
    background: linear-gradient(180deg, #7000FF 0%, #11002D 100%);
}
.font-family-Noto{
    font-family: Noto Sans CJK TC;
}
.negative-margin-8{
    @media( min-width: 992px){
        margin-top: -12px;
    }
}