<nav>
    <h1><a href="">ALPHABOX+</a></h1>
    <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
    <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><button></button></li>
    </ul>
</nav>